{% extends 'layout_repo.html' %}
{% set active_page='repo' %}
{% set active_repo_page='history' %}
{% block title %}{% trans %}History{% endtrans %}{% endblock%} 
{% block content %}

<ol class="pagination pagination-sm">
    {% for parent in list_parents(path) %}
    <li {{ attrib(class=loop.last and 'active') }}>
        <a {{ attrib(href=loop.last and "#" or url_for('browse', repo, parent)) }}>
            {{ parent.display_name }}
        </a>
    </li>
    {% endfor %}
</ol>

<div class="panel panel-default spacer">
    <ul class="list-group">
        {% for restore_date in restore_dates %}
        <li class="list-group-item clearfix">
            <i {% if path.isdir %}class="icon-archive"{% else %}class="icon-file"{% endif %}></i>
            {{ restore_date | datetime }}

            {% if path.isdir %}
            <div class="pull-right">

                <div class="btn-group">
                    <a type="button" class="btn btn-default btn-xs" rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date) }}">
                        <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %}</span>
                    </a>
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span> <span class="sr-only">{% trans %}Toggle Dropdown{% endtrans %}</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right-xs" role="menu" aria-labelledby="menu1">
                        <li>
                            <a rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date) }}">
                                <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %} ZIP</span>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date, kind='tar.gz') }}">
                                <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %} TAR.GZ</span>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date, kind='tar.bz2') }}">
                                <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %} TAR.BZ2</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="pull-right">
                <a type="button" class="btn btn-default btn-xs" rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date) }}">
                  <i class="icon-download"></i>
                  <span>{% trans %}Download{% endtrans %}</span>
                </a>
            </div>
            {% endif %}


            
            <div id="errors{{loop.index}}" class="collapse">
                <div class="clearfix"></div>
                <div class="spacer"></div>
                <div class="well">FIXME entry.errors</div>
            </div>
            

        </li>
        {% endfor %}
    </ul>
</div>

{% if limit == restore_dates|count %}
<nav aria-label="...">
    <ul class="pager">
        <li>
            <a href="?limit={{ limit * 2 }}">
                <i class="icon-down-dir"></i> {% trans %}Show more...{% endtrans %}
            </a>
        </li>
    </ul>
</nav>
{% endif %}
{% endblock %}
